<div id="homepage" class="h-full flex flex-row justify-center items-center">
  <!-- Welcome Text -->
  <div class="flex flex-col h-full pt-3">
    <h3 class="text-center text-4xl font-bold">Choose Mode</h3>
    <p>Impofjhsdkfhaskdjfhkaljsdhfkjashdlfkjhskhfkljh</p>
  </div>
  <!-- Offer Cards -->
  <div class="flex flex-row justify-center gap-3">
    <!-- Buy Water Option -->
    <div class="bg-blue-950 text-white w-[200px] rounded-xl">
      <img
        class="rounded-t-xl"
        src="assets/images/ai_images/a_glass_of_water.jpeg"
        alt="a_glass_of_water"
      />
      <div class="flex flex-col p-3">
        <h5 class="text-2xl font-bold text-center mb-2">Buy Water</h5>
        <p class="wrap-normal">
          Refill your container with our distilled water.
        </p>
      </div>
    </div>
    <!-- Buy Water Option -->
    <div class="bg-blue-950 text-white w-[200px] rounded-xl">
      <img
        class="rounded-t-xl"
        src="assets/images/ai_images/plastic_bottles.jpeg"
        alt="a_glass_of_water"
      />
      <div class="flex flex-col p-3">
        <h5 class="text-2xl font-bold text-center mb-2">Donate or Deposit Bottle</h5>
        <p class="wrap-normal">
          Refill your container with our distilled water.
        </p>
      </div>
    </div>
  </div>
</div>
